.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px #6096B4;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px 0;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #6096B4;
    font-size: 25px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #6096B4;
    gap: 3px;
    cursor: pointer;
    text-decoration: none;
}
.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color:  #6096B4;
}
.nav-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-cart button{
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid #6096B4;
    border-radius: 75px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
}
.nav-cart button:active {
    background: #6096B4;
}
.nav-cart img{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}
.nav-menu input{
    display: flex; 
    padding: 10px;
    font-size: 20px;
    color: black;
    margin: 0 auto;
    width: 500px;
    height: 40px;
    outline: none;
    border: 1px solid #6096B4;
    border-radius: 75px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
}
.nav-menu span {
    color: black; 
    text-decoration: none;
    transition: color 0.3s; 
    transition: background-color 0.3s;
}

.nav-menu span:visited {
    color: #6096B4;
    border-color: #4a90e2;
}

.nav-menu span:hover {
    color: #6096B4; 
   
    border-color: #4a90e2;
}

.nav-menu span:active {
    color: white;
   
    border-color: #4a90e2;
}
